.grid_12{
	width: 100%;
	background: #ccc2;
	position: fixed;
	top: 0;
	left: 0;
	
} 
.grid_item:nth-child(1){
	margin: 0 15px 0 0;
}
.grid_item:last-child{
	margin: 0 0 0 15px;
}
.grid_item{
	width: 70px;
	margin: 0px 15px;
	background: #f003;
}
.grid_flex{
	display: flex;
	height: 100vh;
}
.grid__button{
	position: fixed;
	top: 180px;
	right: 0;
	font-size: 20px;
	padding: 20px 10px;
	background: #0f0c;
	border: 0px solid;
	border-radius: 5px 0px 0px 5px;
}
.disnone{
	display: none;

}
.disblock{
	display: block;
}