@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #262732d9;
}
a{
  cursor: pointer;
}

.prelouder {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: rgba(225, 225, 225, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prelouder__title {
  font-family: "Montserrat", sans-serif;
  font-size: 59px;
  font-weight: 300;
  animation: text 1.5s;
  animation-fill-mode: both;
  color: #575858;
}

.prelouder__title_one, .prelouder__title > span {
  color: #fc5f45;
}

.prelouder__r {
  position: relative;
  top: 72px;
  right: 0px;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-name: r;
  animation-fill-mode: both;
}

.prelouder__bottom-line {
  animation-delay: 2s;
  animation-duration: 1.5s;
  animation-name: bottom-line;
  animation-fill-mode: both;
  height: 4px;
  background: #fc5f45;
  position: relative;
  bottom: 10px;
  right: 4px;
}

@keyframes r {
  0% {
    right: 0px;
  }
  100% {
    right: 10px;
  }
}
@keyframes bottom-line {
  0% {
    width: 0px;
  }
  100% {
    width: 217px;
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes all {
  0% {
    opacity: 1;
  }
  100% {
    height: 0;
  }
}
.prelouder {
  animation-delay: 4s;
  animation-duration: 0.5s;
  animation-name: all;
  animation-fill-mode: both;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.df {
  display: flex;
}

.dg {
  display: grid;
}

/*::-webkit-scrollbar {
    width: 0;
}*/
/*fonts*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Montserrat-Medium.ttf);
}
/*header */
* {
  font-family: "Montserrat";
}

.wraper {
  width: 100%;
  background: #e1e1e1;
}

.header {
  background: rgba(225, 225, 225, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
}

.c-header {
  display: grid;
  grid-template-columns: 30% 70%;
}
.c-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-header__navbar {
  justify-self: end;
}

.logo {
  font-size: 36px;
  display: flex;
  font-weight: 300;
}
.logo__first-letter {
  color: #fc5f45;
}
.logo__second-words {
  position: relative;
  left: -20px;
  color: #262732d9;
}

.navbar-button_item {
  width: 25px;
  border-bottom: 3px solid  #262732d9;
  background: #262732d9;
  margin: 4px 0px;
}

.navbar-button {
  display: none;
}

.navbar {
  width: 100%;
  list-style: none;
}
.navbar__item {
  text-decoration: none;
  color: #262732d9;
    position: relative;
    top: 0;
    transition: all .3s;
}
.navbar__item:hover {
  text-decoration: none;
  color: #000;
  position: relative;
  top: -3px;
  transition: all .3s;
}
.navbar .navbar li {
  float: left;
}

.navbar > li {
  float: left;
  padding: 20px 0px 20px 20px;
}

.с-main__center {
  font-size: 16px;
  padding: 0px 0px 25px 0px;
  text-align: center;
  color: #fff;
}

.feeback__form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px 15px;
  grid-auto-rows: auto;
  max-width: 555px;
  margin: 0 auto;
}

.feedback {
  padding: 50px;
  background: #e1e1e1;
}
.feedback__text {
  grid-row: 3;
  grid-column: 1/3;
}
.feedback__email {
  grid-row: 2;
  grid-column: 1/3;
}

.input_text {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.button_feedback {
  grid-row: 4;
  grid-column: 1/3;
  background: #fc5f45;
  padding: 15px;
  font-size: 18px;
  color: #fff;
}

/*section*/
.container {
  margin: auto;
}

@media (min-width: 575.98px) {
  .container {
    margin: auto;
    padding: 0px 15px;
  }
}
@media (min-width: 768.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1199.98px) {
  .container {
    max-width: 1170px;
  }
}
.main {
  width: 100%;
  padding: 90px 0px 50px 0px;
  background-image: url(img/main/man-working-on-macbook-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-main__text {
  background: #56524fe3;
  padding: 15px;
}
.c-main__text--main {
  color: #e1e1e1;
  font-size: 16px;
  padding: 0px 0px 0px 0px;
}
.c-main__title--main {
  font-size: 36px;
  padding: 0px 0px 25px 0px;
  color: #e1e1e1;
}
.c-main__link {
  display: flex;
  padding: 30px 0px;
}

.c-main__items {
  padding: 35px 0px 15px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.c-main__svg {
  display: flex;
  justify-content: center;
  padding: 0px 0px 20px 0px;
}

.c-main__item {
  justify-self: center;
}

.title {
  font-size: 36px;
  padding: 0px 0px 25px 0px;
  color: #262732d9;
}

.text {
  font-size: 16px;
  padding: 0px 0px 25px 0px;
  color: #262732d9;
  text-align: center;
}

.c_main__svg {
  margin: 15px 20px 15px 0px;
  fill: #fff;
}

.services {
  padding: 50px 0px;
}
.services__item {
  background: #fff;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 60px auto 40px;
}
.services__item--red {
  grid-column: 1/4;
  border-bottom: 4px solid #fc5f45;
}
.services__item--green {
  grid-column: 4/7;
  border-bottom: 4px solid #38c695;
}
.services__item--yellow {
  grid-column: 7/10;
  border-bottom: 4px solid #feb960;
}
.services__item--violet {
  grid-column: 10/13;
  border-bottom: 4px solid #b27cf5;
}
.services__button {
  box-sizing: content-box;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-self: center;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  color: #fff;
}
.services__button--red {
  background: #fc5f45;
}
.services__button--green {
  background: #38c695;
}
.services__button--yellow {
  background: #feb960;
}
.services__button--violet {
  background: #b27cf5;
}

.c-services__cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.title {
  text-align: center;
}

.services__title {
  font-size: 22px;
  color: #262732d9;
  text-align: center;
}

.c-services__text {
  text-align: center;
}

.statistik {
  width: 100%;
  background: #262732d9;
  padding: 50px 0px;
}

.c-statistik__items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}
.c-statistik__card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.c-statistik__card--one {
  grid-column: 1/5;
}
.c-statistik__card--two {
  grid-column: 5/9;
}
.c-statistik__card--tree {
  grid-column: 9/13;
}
.c-statistik__img {
  justify-self: center;
  padding: 15px;
}

.c-statistik__text {
  color: #fff;
  padding: 10px 0px;
}

.stages {
  background: #e1e1e1;
  padding: 50px 0px;
}

.c-stages__cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px 0px;
  min-height: 300px;
}
.c-stages__card {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  min-height: 160px;
}
.c-stages__card--one {
  grid-column: 1/10;
  grid-row: 1;
}
.c-stages__card--two {
  grid-column: 4/13;
  grid-row: 2;
}
.c-stages__card--tree {
  grid-column: 1/10;
  grid-row: 3;
}
.c-stages__card--four {
  grid-column: 4/13;
  grid-row: 4;
}
.c-stages__text--one {
  border-bottom: 4px solid #fc5f45;
}
.c-stages__text--two {
  border-bottom: 4px solid #38c695;
}
.c-stages__text--tree {
  border-bottom: 4px solid #feb960;
}
.c-stages__text--four {
  border-bottom: 4px solid #b27cf5;
}
.c-stages__text {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-auto-rows: 36px auto;
  padding: 10px;
}
.c-stages__text--left {
  grid-column: 1/7;
  grid-row: 1;
}
.c-stages__text--right {
  grid-column: 4/10;
  grid-row: 1;
}
.c-stages__number {
  font-size: 40px;
  color: #e0e0e0;
}
.c-stages__img--one {
  grid-column: 1/4;
  grid-row: 1;
  background-image: url(img/stages/acquaintance.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.c-stages__img--two {
  grid-column: 7/10;
  grid-row: 1;
  background-image: url(img/stages/ret.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.c-stages__img--tree {
  grid-column: 1/4;
  grid-row: 1;
  background-image: url(img/stages/testing.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.c-stages__img--four {
  grid-column: 7/10;
  grid-row: 1;
  background-image: url(img/stages/final.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.p-stages__sub-text {
  text-align: left;
}

.p-stages__title {
  font-size: 20px;
}

.green {
  border: 2px solid #38c695;
  transition: all 0.3s;
}

.red {
  border: 2px solid #fc5f45;
  transition: all 0.3s;
}

.input_text {
  border: 2xp solid transparent;
}

.visit {
  color: #262732d9;
  transition: all 0.3s;
  font-size: 12px;
}

.text_visi {
  color: transparent;
  transition: all 0.3s;
  font-size: 12px;
}

.f-feedback__p-text {
  
}

.footer {
  width: 100%;
  background: #262732d9;
}

.c-footer__logo {
  justify-content: center;
  align-self: center;
  color: #e1e1e1;
}
.contacts__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 30px;
}
.c-footer__more {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  align-self: center;
  grid-gap: 7px;
}

.c-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 15px;
}

.contacts__icon {
  margin: 0 auto;
}

.c-footer__title {
  text-align: center;
}

.c-footer__logo {
  color: #fff;
}

.color-line {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.color-line__item {
  height: 4px;
}
.color-line__item--one {
  background: #fc5f45;
}
.color-line__item--two {
  background: #38c695;
}
.color-line__item--free {
  background: #feb960;
}
.color-line__item--four {
  background: #b27cf5;
}

.copy {
  width: 100%;
  padding: 10px;
  color: #e1e1e1;
  background: #1d1e27;
}

.copy__text {
  font-size: 14px;
  color: #e1e1e1;
  text-align: center;
}

/*footer*/
@media (max-width: 780px) {
  .c-header {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .navbar li {
    float: none;
    padding: 13px 0px;
  }
  .navbar__item {
    position: static;
}
  .nav-open {
    height: auto;
    background: var(--dark);
    width: 100%;
  }

  .c-header__navbar {
    justify-self: start;
  }

  .navbar-button {
    display: block;
  }

  .main {
    padding: 60px 0px 20px 0px;
  }

  .c-services__cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
  }

  .services__item--red {
    grid-column: 1/7;
    border-bottom: 4px solid #fc5f45;
  }
  .services__item--green {
    grid-column: 7/13;
    border-bottom: 4px solid #38c695;
  }
  .services__item--yellow {
    grid-column: 1/7;
    border-bottom: 4px solid #feb960;
  }
  .services__item--violet {
    grid-column: 7/13;
    border-bottom: 4px solid #b27cf5;
  }

  .c-stages__card--one {
    grid-column: 1/13;
    grid-row: 1;
  }
  .c-stages__card--two {
    grid-column: 1/13;
    grid-row: 2;
  }
  .c-stages__card--tree {
    grid-column: 1/13;
    grid-row: 3;
  }
  .c-stages__card--four {
    grid-column: 1/13;
    grid-row: 4;
  }
}
@media (max-width: 435px) {
  .c-header {
    padding: 0px 15px;
  }
  .с-main__center {
    font-size: 12px;
  }
  .c-services__cards {
    padding: 0px 15px;
  }
    .services__item--red {
    grid-column: 1/13;
    border-bottom: 4px solid #fc5f45;
  }
  .services__item--green {
    grid-column: 1/13;
    border-bottom: 4px solid #38c695;
  }
  .services__item--yellow {
    grid-column: 1/13;
    border-bottom: 4px solid #feb960;
  }
  .services__item--violet {
    grid-column: 1/13;
    border-bottom: 4px solid #b27cf5;
  }

  .c-stages__cards {
    grid-gap: 0px;
  }
  .c-stages__card {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 200px;
  }
  .c-stages__text {
    display: grid;
    grid-template-columns: 19% 81%;
    grid-auto-rows: 36px auto;
    padding: 10px;
  }
  .c-stages__text--left {
    grid-column: 1;
    grid-row: 2;
  }
  .c-stages__text--right {
    grid-column: 1;
    grid-row: 2;
  }
  .c-stages__number {
    font-size: 40px;
    color: #e0e0e0;
  }
  .c-stages__img--one {
    grid-column: 1;
    grid-row: 1;
    background-image: url(img/stages/acquaintance.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }
  .c-stages__img--two {
    grid-column: 1;
    grid-row: 1;
    background-image: url(img/stages/ret.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }
  .c-stages__img--tree {
    grid-column: 1;
    grid-row: 1;
    background-image: url(img/stages/testing.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }
  .c-stages__img--four {
    grid-column: 1;
    grid-row: 1;
    background-image: url(img/stages/final.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }

  .feedback {
    padding: 37px 15px;
  }

  .feeback__form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    grid-auto-rows: auto;
    width: 100%;
    margin: 0 auto;
  }

  .feedback__name {
    grid-row: 1;
    grid-column: 1;
  }
  .feedback__user {
    grid-row: 2;
    grid-column: 1;
  }
  .feedback__text {
    grid-row: 4;
    grid-column: 1/3;
  }
  .feedback__email {
    grid-row: 3;
    grid-column: 1/3;
  }

  .button_feedback {
    grid-row: 5;
    grid-column: 1;
  }

  .c-footer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .contacts__item {
    padding: 0px;
  }
  .c-footer__logo {
  justify-content: flex-start;
  align-self: center;
  color: #e1e1e1;
}

  .c-footer__logo {
    grid-row: 1;
    grid-column: 1;
  }
  .c-footer__contacts {
    grid-row: 2;
    grid-column: 1/3;
  }
  .c-stages__text--one {
    border-bottom: 4px solid transparent;
  }
  .c-stages__text--two {
    border-bottom: 4px solid transparent;
  }
  .c-stages__text--tree {
    border-bottom: 4px solid transparent;
  }
  .c-stages__text--four {
    border-bottom: 4px solid transparent;
  }
}
@media (max-width: 375px) {


  .c-statistik__items {
    padding: 5px;
    grid-gap: 0px;
  }

  .c-footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .c-footer__logo {
   
  }
  .c-footer__contacts {
    padding: 20px;
    grid-row: 2;
    grid-column: 1/3;
  }
}
.footer svg:hover{
  fill: #ccc;
}
.popup{
  width: 100%;
   height: 0;
   position: fixed;
   top: 0;
   z-index: 8888;
  background: rgba(225, 225, 225, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
}
.height{
  height: 100vh;
  transition: all .4s;
}